        <div class="footer">
        <a href="/rpgs">RPG list</a>
                <a href="/new">Insert new RPG</a>
                <a href="/home">Back to home page</a>
                <p>Copyright 2018 Ville Kauppila</p>        
        </div>
        
    </body>
</html>