<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>RPG List Home Page</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <p>This is a database of RPGs owned by Ville Kauppila.</p>
        <p>Go to <a href="/rpgs">list</a></p>
    </body>
</html>