<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>RPGs</title>
    </head>
    <body>
        <h1>Database of owned rpg books</h1>
        
        <% rpgs.forEach(function(rpg){ %>
            <p><%= rpg.name %></p>
        <% }) %>
        
        <p>Back to <a href="/">home page</a>.</p>
        
    </body>
</html>

