<% include partials/header %>
    
<h1>Unread RPGs</h1> 

<ul>

<% rpgs.forEach(function(rpg){ %>
    <li><a href="/rpgs/<%= rpg.id %>"><%= rpg.name %></a></li>
<% }) %>

</ul>

<% include partials/footer %>        
    